/* This file is for your main application css. */
.logo {
  /* width: 519px;
     height: 71px;
     display: inline-block;
     margin-bottom: 1em;
     background-size: 519px 71px; 
  */
  background-image: url("/images/pocketweb.png")!important;
}

footer {
  border-top: 1px solid darkgray;
  padding-top: 0.25em;
  margin-top: 3em;
  font-size: smaller;
  text-align: right;
}

.feature {
  margin: 0;
  padding: 0;
}

.feature .-description {
  background: lightyellow;
  border: 1px solid darkgrey;
  border-radius: 0.5em;
  padding: 1em;
}

.-left, .-right {
  display: inline-block;
  vertical-align: top;
}

.led-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 0.125em;
  background: steelblue;
  color: white;
  width: 24%;
  height: auto;
  text-align: center;
}
.-green { background: darkgreen;}
.-red { background: darkred;}
.-blue { background: darkblue;}
  

.led-button:hover {
  cursor: pointer;
}

.push-button {
  padding: 0.5em;
  border: 1px solid darkgray;
  border-radius: 0.25em;
  margin-top: 0.5em;
  text-align: center;
  display: block;
}

#temperature {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid black;
  background: darkslategray;
  color: white;
  margin-top: 0.5em;
  text-align: center;
}
