/* This file is for your main application css. */
.logo {
  /* width: 519px;
     height: 71px;
     display: inline-block;
     margin-bottom: 1em;
     background-size: 519px 71px; 
  */
  background-image: url("/images/pocketweb.png")!important;
}

footer {
  border-top: 1px solid darkgray;
  padding-top: 0.25em;
  margin-top: 3em;
  font-size: smaller;
  text-align: right;
}

.feature {
  margin: 0;
  padding: 0;
}

.feature .-description {
  background: lightyellow;
  border: 1px solid darkgrey;
  border-radius: 0.5em;
  padding: 1em;
}

.-left, .-right {
  display: inline-block;
  vertical-align: top;
}

.led-buttons {
  margin: 0;
  padding: 0;
  min-height: 2.4em;
}
.led-button {
  padding: 0;
  padding-top: 0.5em;
  display: inline-block;
  margin: 0;
  border-radius: 0.125em;
  background: steelblue;
  color: white;
  width: 24%;
  height: 2.4em;
  text-align: center;
  font-size: 1em;
}
.-green { background: darkgreen;}
.-red { background: darkred;}
.-blue { background: darkblue;}
  

.led-button:hover {
  cursor: pointer;
}

.push-button {
  padding: 0.5em;
  border: 1px solid darkgray;
  border-radius: 0.25em;
  margin-top: 0.5em;
  text-align: center;
  display: block;
}

#temperature {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid black;
  background: darkslategray;
  color: white;
  margin: 0;
  min-height: 2.8em;
  height: auto;
  text-align: center;
  border-radius: 0.25em;
  font-size: 2em;
}
#temperature small {
  color: darkgray;
  font-weight: 100;
  margin-left: 0.25em;
}

.control-form {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}
.control-form label {
  display: block;
}

.input-hint {
  font-size: x-small;
}

.control-form .col {
  display: inline-block;
}

.control-form .-span2 {
  grid-column: 1 / span 2;
  border-bottom: 1px solid darkgray;
  margin-bottom: 1em;
}
