<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "PocketWeb" %></h2>
  <p class="lead">A simple webserver in your pocket<br/>On a Raspberry Pi3. An Elixir/Nerves/Phoenix Project<br/>by Andi Altendorfer</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="https://github.com/iboard/pocketweb">Github</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
  </div>
</div>
