<div class="jumbotron">
  <h2>Raspberry Pocket Web</h2>
</div>

<div class="row marketing">
  <div class="col-lg-9">
    <h4>Controll Your Raspberry Pi3</h4>
    <ul>
      <li>
        <%= link "piLEDs", to: leds_path(@conn, :index) %>
      </li>
    </ul>
  </div>

  <div class="col-lg-3">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="https://github.com/iboard/pocketweb">Github</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
  </div>
</div>
